.post_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
}

.userAvatar {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin-right: 12px;
}

.like_wrapper {
    display: flex;
    align-items: center;
}

.like_icon {
    width: 14px;
    height: 14px;
    margin: 0 3px 0 8px;
}

.like_count {
    color: #000000;
}

.delete_post {
    margin-left: 4px;
    font-size: 19px;
    color: rgba(180,20,20, 0.4);
    transition: all .5s;
    cursor: pointer;
}

.delete_post:hover {
    color: rgb(225, 0, 0);
}