.paginator_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    margin-top: 15px;
}

.paginator_wrap span{
    height: 25px;
    width: 25px;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: all;
}

.paginator_wrap span:hover {
    background: lightgray;
}

.currentPage {
    background: #328be8;
}
