
.logo {
    display: none;
    width: 60px;
    height: 60px;
}

@media screen and (max-width: 599px) {
    .logo {
        display: block;
    }
}

.loginBlock {
    padding: 8px;
    width: 70px;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
}

.loginBlock a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    transition: all .5s;
}

.loginBlock:hover {
    background: #fff;
}

.loginBlock:hover a{
    color: #000;
}