.navigation {
  grid-area: nav;

  background: #ff9f37;
  padding: 12px;
  border-radius: 8px;
}

.item:nth-last-child(0n+1){
  margin-top: 25px;
}

.item a {
  color: #fff;
  text-decoration: none;
}

.item a:hover {
  color: #ff3668;
  font-size: 18px;
}


.item a.active {
  color: #9641ff;
}

.friendsWrap {
  margin-top: 70px;
}
