.profile_description {
}

.profile_info {
    margin-top: 15px;
}

.avatar_wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.name_and_status{
    position: relative;
    top: 40px;
    margin-bottom: 15px;
}

.user_info {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}

.info_item {
    margin-bottom: 5px;
}

.profile_info_block {
    margin: 20px 0 20px 0;

}

.info_item span{
    font-weight: 400;
}

