.profile_info {
    margin-top: 15px;
}

.avatar_wrapper{
    display: flex;
    align-items: center;
}

.userPhoto_wrapper {
    width: 125px;
}

.editPhoto_span {
    font-size: 14px;
    cursor: pointer;
    transition: all .4s;
}
.editPhoto_span:after {
    display: block;
    width: 89px;
    content: '';
    border-bottom: solid 2px blueviolet;
    transform: scaleX(0);
    transition: transform .4s ease-in-out
}
.editPhoto_span:hover:after {
    transform: scaleX(1);
}
.editPhoto_span:hover {
    color: blueviolet;
}

.avatar {
    max-width: 100px;
    max-height: 100px;
    border: 1px solid black;
    border-radius: 100px;
    margin-right: 12px;
}

.userName{
    font-size: 22px;
    font-weight: 500;
}

.user_info {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
}

.info_item span{
    font-weight: 400;
}

